---
layout: default
title : Homepage
navbar_title: Home
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card_mini.html %}
    </div>
    <div class="col-lg-9 col-md-8">

        {% include widgets/profile_card_bio_only.html %}

        <!-- Debugging widgets -->
        {% include widgets/debug_repo_name.html %}
        {% include widgets/debug_url.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/experience_card.html %}
        {% endif %}

        {% if site.data.display.homepage.show_news %}
        {% assign count_news = site.news | size %}
        {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
        {% endif %}
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
        {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
        %}
        {% endif %}
    </div>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            
           
            <hr class="my-5">

            <section class="mb-5">
                <h2 class="mb-4">Past and Current Funding</h2>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ site.baseurl }}/assets/images/drdo_logo.png" style="height: 150px; width: 150px; object-fit: contain; background-color: transparent; margin-right: 20px;">
                            <div>
                                <h5 class="mb-1">Defence Research and Development Organisation</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ site.baseurl }}/assets/images/digital_india_logo.svg" style="height: 150px; width: 150px; object-fit: contain; background-color: transparent; margin-right: 20px;">
                            <div>
                                <h5 class="mb-1">Digital India</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="d-flex align-items-center">
                            <img src="{{ site.baseurl }}/assets/images/visvesvaraya_logo.svg" style="height: 150px; width: 150px; object-fit: contain; background-color: transparent; margin-right: 20px;">
                            <div>
                                <h5 class="mb-1">Visvesvaraya PhD Scheme</h5>
                            </div>
                        </div>
                    </div>

               

            <hr class="my-5">
          

        </div>
    </div>
</div>
